* {
  margin: 0;
}
p {
  margin: 0;
}
:root {
  --main-body-color: #262626;
  --color-p: #fff;
  --color-dos: #dbab1e;
}
/* HERO */
.hero {
  height: 100vh;
  background-color: #285437;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../Images/banner.jpg") no-repeat center top;
  background-size: cover;
}
.hero-logo {
  height: 35vh;
}
.hero-text {
  font-size: 1.4em;
  font-weight: 300;
  color: #fff;
  width: 50vw;
  text-align: center;
  margin: 2rem 0rem;
}
/* NAVBAR */
.bg-light {
  --bs-bg-opacity: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler {
  border-style: none;
}
.navbar-toggler-icon {
  background-image: url(../Images/navBar.png);
}
.offcanvas.offcanvas-end {
  background-color: #262626;
}
.nav_link {
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #fff;
  text-decoration: none;
  padding: 0.6rem;
  transition: 500ms ease-in-out;
}
.nav_link:hover {
  color: #dbab1e;
  font-weight: 450;
}
.nav_title {
  letter-spacing: 2px;
  font-size: 1.1rem;
  color: #fff;
  padding: 0.6rem;
}
/* BODY */
.main_body {
  background-color: var(--main-body-color);
}
/* BODY--cards Home */

.card_Home {
  margin: 4rem 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 50px;
  justify-content: center;
  align-items: center;
  color: var(--color-p);
  padding: 3rem 0;
}
.card_img {
  height: 75vh;
}

.card_icono {
  font-size: 1.5em;
  transition: 100ms ease-in-out;
}
.card_icono:hover {
  color: var(--color-dos);
}
.card_iconS {
  cursor: pointer;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 100ms ease-in-out;
}

.card_iconS p {
  position: relative;
}
.card_iconS p::after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 0;
  left: 0;
  background-color: var(--color-dos);
  transition: width 0.3s ease-in-out;
}
.card_iconS p::after {
  bottom: -10px;
}
.card_iconS p:hover:after {
  width: 100%;
}
/* About Us  */
.fotito {
  height: 75vh;
  width: 30vh;
  object-fit: cover;
}
/* Para prop en venta */
.titulito {
  color: #fff;
  position: relative;
}

.cont-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hrr {
  position: absolute;

  width: 150px;
  background-color: #dbab1e;
  height: 10px;
  margin-top: 70px;
}
/* Gallery */
.una {
  background-color: rgba(0, 0, 0, 0.5);
}
.hoverImg:hover {
  transition: all 0.5s ease;
  opacity: 0.5;
}
.gallery-img {
  margin-top: 50px;
}

/* Our services */

.ourserv-back {
  display: flex;
  flex-wrap: wrap;
}
.ourserv-box {
  min-height: 50vh;
  flex: 1;
  min-width: 350px;
  background-color: #262626;
}
.ourserv-back {
  background-color: #dbab1e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-logo {
  height: 350px;
}
.ourserv-cont {
  color: #fff;
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.btn-extras {
  width: 50px;
  margin: 0 !important;
}
.btn-extras:hover {
  width: 150px;
}

.maps {
  margin-top: 40px;
}

/* Styles STATE */

.p-stateCont {
  margin-top: 40px;
  display: flex;
  min-width: 80vw;
  justify-content: center;
}
.p-state {
  width: 50%;
}
.select-state {
  background-color: var(--color-dos);
  color: #fff;
  font-size: 14px;
  font-family: Arial, sans-serif;
  padding: 10px;
}

.button-state {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.button-box2 {
  padding: 10px;
  background-color: var(--color-dos);
  color: #fff;
  min-width: 5em;
  border: none;
}

/* Card Render */

.card-container {
  color: #fff;
  margin: 1em;
  flex-wrap: wrap;
  display: flex;
  min-height: 40vh;
  min-width: 200px;
  gap: 40px;
  justify-content: center;
  align-items: flex-end;
}
.card-box {
  max-width: 30vw;
  min-width: 250px;
  height: 100%;
}

.card-ima {
  min-height: 250px;
}
.card-img {
  min-height: 100%;
}
.card-plus {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.asoaso {
  background-color: #262626;
  min-height: 100vh;
}

/* Formulario */

.cent {
  margin-top: 50px;
  color: #fff;
}
